@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>

<div class="box">
    <div class="box-comp">
        <h1 style="color: #333333">Our Mission</h1>
        <p style="color: #333333">Gardella Industries offers cutting edge solutions to the world's most complex technological conundrums. Our multifaceted approaches are delivered in, but not limited to, implementations of software, hardware, and 3D printing/CAD design.</p>
        <br></br>

        <h1 style="color: #333333">Our Vision</h1>
        <p style="color: #333333">"If you work hard enough, long enough, and smart enough at a problem then inevitably you'll conquer it."</p>
        <br></br>

        <h1 style="color: #333333">Our Heritage</h1>
        <p style="color: #333333">Gardella Industries began with an ambitious young software developer and his three cats. Founded in [TBD], it's been on the forefront of engineering consultancy ever since.</p>
    </div>
    <div class="box-comp">
        <iframe width="100%"
                height="500"
                style="border:0"
                loading="eager"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZxnYUrVOjqMpvGds1_xyhaaCulV8gma0
                    &q=Queen+City+Square,Cincinnati+OH">
        </iframe>
    </div>
</div>