@page
@model BrakeToolModel
@{
    ViewData["Title"] = "Brake Cylinder Compressor";
}
<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>

<div class="sketchfab-embed-wrapper"> <iframe title="brake-cylinder-tool-socket" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="500" src="https://sketchfab.com/models/5cda9aa84ea14fcfb49bc3568c10820d/embed?ui_theme=dark&dnt=1"> </iframe> </div>
