@page
@model IndexModel
@{ ViewData["Title"] = "Home"; }

<div style="display:grid; justify-content:space-evenly; align-items:center">
    <div class="box-title" style="margin:0px;">
        <h1 class="display-3" style="text-align:center">Welcome to</h1>
        <h1 class="display-3" style="text-align:center">Gardella Industries</h1>
        <h5 style="text-align:center">(Currently being reconstructed with React.js + Next.js + Chakra UI)</h5>
    </div>

    <div class="box" style="display:flex; justify-content:space-evenly; align-items:center; padding:20px;">
        <div class="sketchfab-embed-wrapper"> <iframe title="spiderbot" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="400" height="400" src="https://sketchfab.com/models/a909e18dacdc4e869c7a56cfe5ae7a1b/embed?autospin=1&autostart=1&ui_hint=0&ui_theme=dark&dnt=1"> </iframe> </div>
        <div class="sketchfab-embed-wrapper"> <iframe title="Mask V11" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="400" height="400" src="https://sketchfab.com/models/fe5feef1018a4ab9b1e6dbeff1915116/embed?autospin=1&autostart=1&ui_theme=dark&dnt=1"> </iframe> </div>
        <div class="sketchfab-embed-wrapper"> <iframe title="Brake Cylinder Compression Tool V3" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="400" height="400" src="https://sketchfab.com/models/5cda9aa84ea14fcfb49bc3568c10820d/embed?autospin=1&autostart=1&ui_hint=0&ui_theme=dark&dnt=1"> </iframe> </div>
        <div class="sketchfab-embed-wrapper"> <iframe title="Handbot V1" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="400" height="400" src="https://sketchfab.com/models/2e7f9b6d0a1947e99e60eb9c9b1a0e3a/embed?autospin=1&autostart=1&ui_hint=0&ui_theme=dark&dnt=1"> </iframe> </div>

    </div>

    

</div>