@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>

<div class="box" style="justify-content:flex-start">
    <div class="box-comp">
        <p style="color: #333333">It's rude to use the urinal right next to someone else if you're the only two at a row and it's avoidable.</p>
    </div>
</div>