@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>
<div class="box">
    <div class="box-comp">
        <h2><a href="./Resp" style="color: #333333">N95 Respirator</a></h2>
        <h2><a href="https://github.com/VikramGardella/Universal-EHR-System" style="color: #333333">Mac OS X EHR App</a></h2>
        <h2><a href="./Spiderbot" style="color: #333333">Spiderbot</a></h2>
        <h2><a href="./Handbot" style="color: #333333">Handbot</a></h2>
        <h2><a href="https://github.com/VikramGardella/Tankbot-Gallery" style="color: #333333">Tankbot</a></h2>
        <h2><a href="./BrakeTool" style="color: #333333">Brake Cylinder Compressor</a></h2>
        <h2>ECU Calibration for 2018 Honda Accord 2.0T</h2>
    </div>
</div>