@page
@model RespModel
@{
    ViewData["Title"] = "N95 Respirator";
}
<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>
<div class="sketchfab-embed-wrapper"> <iframe title="Mask V11" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="100%" height="500px" src="https://sketchfab.com/models/fe5feef1018a4ab9b1e6dbeff1915116/embed?autospin=1&autostart=1&ui_theme=dark&dnt=1"> </iframe> </div>