@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}

<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>
<div class="box">
    <div class="box-comp">
        <h1 style="color: #333333">Software Development</h1>
        <ul style="color: #333333">
            <li>Web App Design</li>
            <li>Algorithmic Solutions for Data Analysis</li>
            <li>Data Migration Scripting</li>
            <li>Windows Desktop App Development</li>
            <li>Mac OS Desktop App Development</li>
            <li>iOS App Development</li>
        </ul>

        <h1 style="color: #333333">Hardware Design</h1>
        <ul style="color: #333333">
            <li>Microcontroller/Microprocessors Solutions</li>
            <li>Circuit Design</li>
            <li>Processor Architecture Design</li>
        </ul>

        <h1 style="color: #333333">3D Printing & CAD Modeling</h1>
        <ul style="color: #333333">
            <li>Custom Parts Design for Various Situations</li>
            <li>Injection Mold Design for Mass Production</li>
        </ul>
    </div>

</div>
