@page
@model TermsModel
@{
    ViewData["Title"] = "Terms & Conditions";
}

<div class="box" style="justify-content:flex-start; padding-left:30px">
    <h1 class="display-4" style="color: #333333">@ViewData["Title"]</h1>
</div>

<div class="box" style="justify-content:flex-start">
    <div class="box-comp">
        <h5>Scoliosis</h5>
        <p style="color: #333333">A symptom of web development.</p>
        <h5>Arthritis</h5>
        <p>Another symptom of web development.</p>
    </div>
</div>
